body {
	border: 0;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	text-align: center;

	background-color: #1c1c2a;
	color: rgb(238, 231, 231);
	font-family: Roboto, sans-serif;
}

h1 {
	font-size: 3em;
}

button {
	cursor: pointer;
}

#escolhaBotoes label {
	display: block;
	font-size: 1.3em;
	padding: 4px;
}

#escolhaBotoes input, #escolhaBotoes button {
	border-radius: 5px;
	padding: 8px;
	outline: none;
	border: 2px solid rgb(0, 132, 255);

	font-family: Roboto, sans-serif;
	font-size: 18px;
}

#escolhaBotoes button {
	background-color: transparent;
	color: #fff;
}

#escolhaBotoes button:hover {
	background-color: #fff;
	color: #1c1c2a;
}

#campos {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-auto-rows: 100px;

	width: 400px;
	margin: 0 auto;

	transition: all 0.5 ease-in-out;
}

#campos button {
	font-size: 40px;
	opacity: 1;
}

.clicado {
	background-color: #a4a4a4;
	border-width: 1px;
}

.bomba {
	background-color: #fb7d00;
	border-width: 1px;
}