* {
	font-family: 'Comfortaa', Roboto, sans-serif;
}

body {
	border: 0;
	margin: 0;
	padding: 0;
	height: 100%;

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	background-color: #1c1c2a;
	color: rgb(238, 231, 231);
}

a, a:visited {
	color: #ff401a;
}

main {
	height: 100%;
	margin-bottom: 10em;
}

h1 {
	padding: 5px;
	box-sizing: border-box;
	font-size: 3em;
}

button {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#escolhaBotoes label {
	display: block;
	font-size: 1.5em;

	padding: 4px;
	margin: 20px auto 10px;
}

#escolhaBotoes input, #escolhaBotoes button {
	border-radius: 5px;
	padding: 8px;
	outline: none;
	border: 2px solid rgb(0, 132, 255);

	font-family: Roboto, sans-serif;
	font-size: 1.4em;
}

#escolhaBotoes button {
	background-color: transparent;
	color: #fff;
}

#escolhaBotoes button:hover {
	background-color: #fff;
	color: #1c1c2a;
}

#mensagem {
	font-size: 2em;
	font-weight: bold;
}

#campos {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-auto-rows: 100px;

	width: 400px;
	margin: 0 auto;

	transition: all 0.5 ease-in-out;
}

#campos button {
	font-size: 40px;
	opacity: 1;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;

	font-weight: 700;
	font-size: 1.1em;
}

.clicado {
	background-color: #a4a4a4;
	border-width: 1px;
}

.bomba {
	background-color: #e02500;
	border-width: 1px;
}

.gameOver {
	pointer-events: none;
}